@charset "UTF-8";

div.main-contents{
  white-space:pre;

}
body {
	background-color: white;
	text-align: center;
	margin-right: auto;
	margin-left : auto;
}
h1 {
	color: blue;
}
h3 {
	color: blue;.0
}
.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black
    background:blue
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box p {
    margin: 15;
    padding: 15;

label {

    }