<!-- ログインのHTML -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">
<title>ログイン</title>
</head>
<body>
    <div class="container">
        <h1 class="my-3">ログイン</h1>
        <hr>
        <form th:action="@{/login}" method="post" th:object="${formModel}">
            <table class="table table-bordered col-md-6">
            <tr th:if="${validationError}" th:each="error : ${validationError}">
	            <td style="color: red;" th:text="${error}"></td>
	        </tr>
            <tr class="form-group">
            	<th class="align-middle">アカウント</th>
                <td><input type="text" class="form-controll" name="account" th:field="*{account}"></td>
            </tr>
            <tr class="form-group">
            	<th class="align-middle">パスワード</th>
                <td><input type="password" class="form-controll" name="password"></td>
            </tr>
            </table>
            <div>
                <input type="submit" class="btn btn-primary" value="ログイン">
            </div>
            <a href="./">戻る</a>
        </form>
    </div>
    <script src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>