<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規投稿画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<form method="post" action="/newMessage" th:object="${formModel}">
		<!-- エラー文表示の為のth:if -->
  <table>
        <tr th:if="${validationError}" th:each="error : ${validationError}">
            <td style="color: red;" th:text="${error}"></td>
        </tr>
    </table>
<div class="main-contents">
				<p class="control-label">件名</p>
				<p><input type="text" th:field="*{title}" size="20" /></p>
				<p class="control-label">本文</p>
				<p><input type="text" th:field="*{text}" size="20" /></p>
				<p class="control-label">カテゴリー</p>
				<p><input type="text" th:field="*{category}" size="20" /></p>
			<p><input type="submit" value="投稿" /></p>
	</form>
	<form action="/">
		<p><input type="submit" value="戻る" /></p>
	</form>
	</div>
	<script src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>