<!-- 新規ユーザー登録のHTML -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>新規ユーザー登録</title>
</head>
<body>
	<tr th:if="${validationError}" th:each="error : ${validationError}">
		<font color="color: #ff0000;" th:text="${error}"></font>
	</tr>
	<form action="/addUser" method="post" th:object="${formModel}">
		<tr>
			<th>ユーザー新規登録</th><br>
			<label for="name">名前</label>
			<input type="text" name="name" maxlength="10" />（名前はあなたの公開プロフィールに表示されます）<br />
			<label for="account">アカウント名</label>
			<input type="text" name="account" maxlength="20" /> <br />
			<label for="password">パスワード</label>
			<input type="password" name="password" maxlength="255" /> <br />
			<label for="password">パスワード確認</label>
			<input type="password" name="checkPassword" maxlength="255" /> <br />
			<label for="branchId">支店名</label>
			<select name="branchId">
				<!-- th:eachでbranchesの要素分ループをまわす -->
    			<!-- th:selectedで初期の選択値を指定する -->
    			<span th:each="branch : ${branchData}">
    				<option
    					name="branchId"
      					th:value="${branch.id}"
      					th:text="${branch.name}">
    				</option>
    			</span>
			</select>
			<label for="departmentId">部署名</label>
			<select name="departmentId">
				<!-- th:eachでdepartmentsの要素分ループをまわす -->
    			<!-- th:selectedで初期の選択値を指定する -->
    			<span th:each="department : ${departmentData}">
    				<option
    					name="departmentId"
      					th:value="${department.id}"
      					th:text="${department.name}">
    				</option>
    			</span>
			</select>
			<br>
			<input type="submit" value="登録" />
			<a href="./">戻る</a>
		</tr>
	</form>
	<script src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>