<!-- トップのHTML -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script src="webjars/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
		<div class="header">
			<th:block th:if="${loginUser == null}">
				<a th:href="login">ログイン</a>
			</th:block>
			<th:block th:if="${loginUser != null}">
				<a href="./">ホーム</a>
				<a th:href="newUser">ユーザー登録</a>
				<a href="logout">ログアウト</a>
			</th:block>
		</div>
		<tr th:if="${validationError}" th:each="error : ${validationError}">
			<font color="red" th:text="${error}"></font>
		</tr>

<h1>社内掲示板</h1>
<h3>↓新規投稿はここから↓</h3>
	<a href="/new"><button type="button">新規投稿</button> </a>

			<!-- 絞込ボタンの追加 -->
<h4>↓日付で検索↓</h4>
		<form th:action="@{/serch}" th:method="get">
		日付<input type="date" name="startDate" value="${startDate }"></input>
		 ～ <input type="date" name="endDate" value="${endDate }"></input>
			 <input type="submit" value="絞込">
		</form>
		<h4>↓カテゴリーで検索↓</h4>
		<form th:action="@{/serchCategory}" th:method="get">
				カテゴリー<input type ="text" name = "serchCategory" th:value="${serchCategory}"></input>
				<input type="submit" value="絞込">
		</form>
<div class="main-contents">
	<th:block th:each="message : ${messages}">

		<p><label class="control-label">投稿日</label></p>
			<p th:text="${message.createdDate}">

		<p><label class="control-label">件名</label></p>
			<p th:text="${message.title}"></p>

		<p><label class="control-label">本文</label></p>
			<p th:text="${message.text}"></p>

		<p><label class="control-label">カテゴリー</label></p>
			<p th:text="${message.category}"></p>

		<p><label class="control-label">投稿者id</label></p>
			<p th:text="${message.userId}"></p>
				<!-- 投稿削除ボタン -->

				<form th:action="@{/deleteMessage/{id}(id=${message.id})}"th:method="delete">
					<p><input type="submit" value="削除" id="delete"></p>
				</form>

					<!-- コメントボタン -->
				<form action="/addComment"method="post" th:object="${formModel}" >
						<input type="hidden" name="userId" th:value="${message.userId}" />
			    		<input type="hidden" name="messageId" th:value="${message.id}" />
							<p><textarea th:wrap="hard" type="text" name="text" th:value="${text}"	class="commentTextArea"></textarea></p>
							<p><input type="submit" value="コメント"/></p>
				</form>
				<!-- コメントの表示 -->
					<tr th:each="comment : ${comments}">
							<div th:if = "${comment.messageId == message.id}">
							<p><label class="control-label">返信者id</label></p>
									<p th:text="${comment.userId}"></p>
									<p><label class="control-label">本文</label></p>
									</p><p th:text="${comment.text}"></p>
									<p><label class="control-label">投稿日</label></p>
									</p><p th:text="${comment.updatedDate}"></p>
				<!-- コメント削除ボタン-->
					<form th:action="@{/deleteComment/{id}(id=${comment.id},${comment.messageId})}"th:method="delete">
						<p><input type="submit" value="コメント削除" id="deleteComment"></p>
					</form>
					</tr>
			</th:block>
		</div>
</body>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<div class="cogyright">Copyright(c)APD</div>
</html>
