<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新規投稿画面</title>
	</head>
	<body>
		<form method="post" action="/newMessage" th:object="${formModel}">
		<!-- エラー文表示の為のth:if -->
         <table class="table table-bordered col-md-6">
            <tr th:if="${validationError}" th:each="error : ${validationError}">
	            <td style="color: red;" th:text="${error}"></td>
	        </tr>
				<tr>
					<th>件名</th>
					<th>本文</th>
					<th>カテゴリー</th>
					<td>
						<input type="text" th:field="*{title}" size="20" />
					</td>
					<td>
						<input type="text" th:field="*{text}" size="20" />
					</td>
					<td>
						<input type="text" th:field="*{category}" size="20" />
					</td>
				</tr>
			</table>
			<input type="submit" value="投稿" />
		</form>
		<form action="/">
			<input type="submit" value="戻る" />
		</form>
		<script src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    	<script src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	</body>
</html>