<!-- トップのHTML -->
<!-- コミットするよ -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<div class="main-contents">
		<div class="header">
			<th:block th:if="${loginUser == null}">
				<a th:href="login">ログイン</a>
			</th:block>
			<th:block th:if="${loginUser != null}">
				<a href="./">ホーム</a>
				<a th:href="newUser">ユーザー登録</a>
				<a href="logout">ログアウト</a>
			</th:block>
		</div>
		<tr th:if="${validationError}" th:each="error : ${validationError}">
			<td style="color: red;" th:text="${error}"></td>
		</tr>

<h1>社内掲示板</h1>
<h3>↓新規投稿はここから↓</h3>
	<a href="/new"><button type="button">新規投稿</button> </a>

			<!-- 絞込ボタンの追加 -->
<h4>↓日付で検索↓</h4>
		<form th:action="@{/serch}" th:method="get">
		日付<input type="date" name="startDate" value="${startDate }"></input>
		 ～ <input type="date" name="endDate" value="${endDate }"></input>
			 <input type="submit" value="絞込">
		</form>
		<h4>↓カテゴリーで検索↓</h4>
		<form th:action="@{/serchCategory}" th:method="get">
				カテゴリー<input type ="text" name = "serchCategory" th:value="${serchCategory}"></input>
				<input type="submit" value="絞込">
		</form>


	<table border="1">
		<tr>
			<th>ID</th>
			<th>件名</th>
			<th>本文</th>
			<th>カテゴリー</th>
			<th>登録者ID</th>
			<th>投稿日</th>
			<th>更新日</th>
			<th>投稿削除</th>
			<th>投稿へのコメント</th>
		</tr>
		<div  th:each="message : ${messages}">
		<tr>
			<td th:text="${message.id}">
			<td th:text="${message.title}">
			<td th:text="${message.text}">
			<td th:text="${message.category}">
			<td th:text="${message.userId}">
			<td th:text="${message.createdDate}">
			<td th:text="${message.updatedDate}">

				<!-- 削除ボタン -->
			<td>
				<form th:action="@{/deleteMessage/{id}(id=${message.id})}"th:method="delete">
					<input type="submit" value="削除"></td>
				</form>

					<!-- コメントボタンを追加 -->
			<td>
				<form action="/addComment"method="post" th:object="${formModel}" >
							<input type="hidden" name="userId" th:value="${message.userId}" />
			    	<input type="hidden" name="messageId" th:value="${message.id}" />
					<textarea type="text" name="text" th:value="${text}"	class="commentTextArea"></textarea>
					<input type="submit" value="コメント"/>
				</form>

		</tr>
				<!-- コメントの表示 -->
				<tr th:each="comment : ${comments}">
				<div th:if = "${comment.messageId == message.id}">
				<td th:text="${comment.id}">
				<td th:text="${comment.text}">
				<td th:text="${comment.updatedDate}">

				<!-- コメント削除ボタンを追加 -->
			<td>
				<form th:action="@{/deleteComment/{id}(id=${comment.id},${comment.messageId})}"th:method="delete">
					<input type="submit" value="コメント削除"></td>
				</form>

				</div>
				</tr>
			</div>
	</table>
</body>
	<div class="cogyright">Copyright(c)APD</div>
</html>
